*{
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: #fff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header, footer{
    width:100%;
    height:200px;
    img{
      width:100%;
      height:200px;
  }
}


main{
    height: calc(100vh - 400px);
    margin-top: 170px;
    overflow:scroll;
}

ul{
  padding: 0;
}




a[href]:empty::after{
  content:attr(href);
}
a[href]:empty::before{
  content:attr(href);
}

