

// $primary: #34303D;

/* $primary: #F40000;
$secondary: #FFFDFB;
$contrast: #00d1d2;
$gold: #C29A69;
$gray: #F6F4F0; */



:root{
    --base1: #1B2D39;
    --base2: #F40000;
    --white: #ffffff;
    --bgbusqueda: #FBFBFB;
    --pink: #E6007E;
  
  }



  $base1: #1B2D39;
  $base2: #F40000;
  $white: #ffffff;
  
  $primary: #f40000;
  $secondary: #f72525;
  $gold: #99774c;
  $white: #ffffff;
  $black: #000000;
  $gray: #6f6f6f;
  $red: #f40000;
  $azul: #0099ff;
  
  $light: #ffffff;