.swiper{
    *{
        color: black;
        text-decoration: none;
    }
    small{
        color: gray;
    }
}



.swiper-container{
    position: relative;
  }
  .swiper-header{
      padding: 10px 15px; 
      @include d-flex();
      @include justify-content(space-between);
      h3{
          margin-bottom: 0;
      }
  }
  

  
  
  @media (min-width: 37.5em) {
    section {
      padding-left: 5%;
      padding-right: 5%;
    }
  }


  
  .swiper-container {
      margin-top: 0em; /* minor cosmetic */
  }
  
      .swiper-wrapper {
          /* now pagination is below slides */
          margin-bottom: 3em;
  
          /* just enough width so slides handing off screen are partially visible */
          width: 73.8%;
      }
  
      @media (min-width: 37.5em) {
          .swiper-wrapper {
              /* now arrows appear */
              /* make room for arrows */
              width: 92%;
          }
      }
  
      @media (min-width: 43.75em) {
          .swiper-wrapper {
              /* make room for arrows */
              width: 95%;
          }
      }
  
  
          /* doubleing up specificity to win over on transform */
          .swiper-slide.swiper-slide {
              /* a single column layout */
              width: 100%;
              
              padding: 25px;
            //   border: 1px solid gray;
          }
  
  
          @media (min-width: 37.5em) {
              .swiper-slide.swiper-slide  {
                  /* going for a 2 column layout here */
                  width: 50%;
  
                  /* centeredSlides set to true */
                  /* reposition so first slide appears on left */
                  transform: translateX(-50%);
              }
          }
  
          @media (min-width: 43.75em) {
              .swiper-slide.swiper-slide  {
                  /* upping it to a 3 column layout */
                  width: 33.33333333333%;
  
                  /* centeredSlides set to true */
                  /* reposition so first slide appears on left */
                  transform: translateX(-100%);
              }
          }
  
          @media (min-width: 53em) {
              .swiper-slide.swiper-slide  {
                  /* and finally the 4 column layout */
                  width: 25%;
  
                  /* centeredSlides set to true */
                  /* reposition so first slide appears on left */
                  transform: translateX(-150%);
              }
          }
  
          .swiper-pagination {
              /* show on small viewports */
              display: block;
          }
  
          @media (min-width: 37.5em) {
              .swiper-pagination {
                  /* hide on larger viewports per stakeholder recommendation */
                  display: none;
              }
          }
  
          /* now move prev button more to the left */
          .swiper-button-prev {
              /* but first hide on small viewports */
              display: none;
  
              left: 0;
              top: 0;
  
              margin-top: 0;
  
              /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
              height: calc(100% - 3em);
  
              /* css trickery to hide the way left image */
              
          }
  
          @media (min-width: 37.5em) {
              .swiper-button-prev {
                  /* show on larger viewports */
                  display: block;
              }
          }
  
          .swiper-button-next {
              /* hide on small viewports */
              display: none;
  
              right: 0;
              top: 0;
  
              margin-top: 0;
  
              /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
              height: calc(100% - 3em);
  
              /* css trickery to hide the way right image */
             
        
      }
  
          @media (min-width: 37.5em) {
              .swiper-button-next {
                  /* show on larger viewports */
                  display: block;
              }
          }
  
  /* ==========================================================================
     content in swiper
   ========================================================================== */
  
  .cupon {
      /* odds are you will use flexbox */
      // display: flex;
  
      /* center it */
  /*     margin-left: auto;
      margin-right: auto; */
  
      /* adjust the width to add or remove whitespace  */
   /*    width: 85%; */
    
    border: 1px solid #DADADB;
    @include border-radius(8px);
    text-align: center;
    background-color: white;
    img {
        width: 100%;
    }
    small{
        padding-bottom: 20px;
        display: block;
    }
  }
  
      .photograph {
          /* if parent is flex it will stretch this image */
          // align-self: center;
          display: block;
  
          height: auto;
          width: 100%;
      }
  
      .product__name.product__name {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
          font-size: calc(.5em + 5vw);
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
      }
  
      @media (min-width: 37.5em) {
          .product__name.product__name {
              font-size: .92em;
          }
      }
  
      .product__description {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
          font-size: calc(.3em + 5vw);
          font-weight: 300;
          line-height: 1.1;
          text-align: center;
      }
  
      @media (min-width: 37.5em) {
          .product__description {
              font-size: .92em;
          }
      }
  



      .swiper-button-next, .swiper-button-prev{
        @include center-flex();
        background-color: $body-bg;
       
      &:after{
          transform: translateY(50%);
          font-size: 23px;
    font-weight: bold;
    color: var(--base1);
      }
    }

    .swiper-button-next{
        right: -8px;
        
    }
    .swiper-button-prev{
        left: -8px;
    }
    


    @media (max-width: 768px) {
        .swiper-slide.swiper-slide{
            width: calc(100% / 3);
            padding: 10px;
        }
    }   
    @media (max-width: 480px) {
        .swiper-slide.swiper-slide{
            width: calc(100% / 1);
            padding: 20px;
        }
    }   