 



.button {
  border: none;
  min-width: 160px;
  height: 38px;
  /* UI Properties */
  
  @include border-radius($button-border-radius);
  opacity: 1;
  text-align: center;
  @include center-flex();
  cursor: pointer;
  transition: all 0.3s;
  padding: $button-padding;
  margin: $button-margin;
  color: $button-color;
  // .slider__item
  



  @each $name, $color in $colors {
    &__#{$name} {
      background-color: $color;
      @include box-shadow($button-box-shadow);
      @include transition(box-shadow 0.2s ease-in-out 0.05s);
      @for $i from 1 through 50 {
        @if $i % 1 == 0 { 
           $percentage: $i*1%;


$incremento: $i + 5%;
// @debug $result; // 0.5
           
           &--darken-#{$i} {
             background-color: darken($color, $percentage);
             &:active,
             &:focus {
               @include box-shadow(0px 0px 7px 1px lighten($color, $incremento));
             }
             &:hover{
               background-color: lighten($color, $incremento);
             }
           }
           &--lighten-#{$i} {
             background-color: lighten($color, $percentage);
             &:active,
             &:focus {
               @include box-shadow(0px 0px 7px 1px darken($color, $incremento));
             }
             &:hover{
               background-color: darken($color, $incremento);
             }
           }
           &--mix-black-#{$i} {
             background-color: mix(black, $color, $percentage);
             &:active,
             &:focus {
               @include box-shadow(0px 0px 7px 1px mix(black, $color, $incremento));
             }
             &:hover{
               background-color: mix(black, $color, $incremento);
             }
           }
           &--mix-white-#{$i} {
             background-color: mix(white, $color, $percentage);
             &:active,
             &:focus {
               @include box-shadow(0px 0px 7px 1px mix(white, $color, $incremento));
             }
             &:hover{
               background-color: mix(white, $color, $incremento);
             }
           }

          
         
           
        }
       }
      &:active,
      &:focus
      {
        @include box-shadow(none);
        // @include box-shadow(0px 0px 7px 1px lighten($color, 10%));
      }
      &:hover,  &:visited{
        
        // background-color: lighten($color, 10%);
        @include box-shadow(none);
        @include transition(box-shadow 0.2s ease-in-out 0.05s);
        
      }
      &.animation{
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
        outline: 0;
        -webkit-transition: color 0.2s ease-out 0.1s;
        -moz-transition: color 0.2s ease-out 0.1s;
        -ms-transition: color 0.2s ease-out 0.1s;
        -o-transition: color 0.2s ease-out 0.1s;
        transition: color 0.2s ease-out 0.1s;
        -webkit-transition: background-color 0.2s ease 0s;
        -moz-transition: background-color 0.2s ease 0s;
        -ms-transition: background-color 0.2s ease 0s;
        -o-transition: background-color 0.2s ease 0s;
        transition: background-color 0.2s ease 0s;
        transition: color 0.2s ease-out 0.1s, background-color 0.2s ease 0s;
        z-index: 0;
        -webkit-transition: opacity 0.7s ease 0.5s, color 0.2s ease-out 0.1s, background-color 0.2s ease 0s, -webkit-transform 0.7s ease 0.5s;
        transition: opacity 0.7s ease 0.5s, color 0.2s ease-out 0.1s, background-color 0.2s ease 0s, -webkit-transform 0.7s ease 0.5s;
        transition: opacity 0.7s ease 0.5s, transform 0.7s ease 0.5s, color 0.2s ease-out 0.1s, background-color 0.2s ease 0s;
        transition: opacity 0.7s ease 0.5s, transform 0.7s ease 0.5s, color 0.2s ease-out 0.1s, background-color 0.2s ease 0s, -webkit-transform 0.7s ease 0.5s, border 0.2s ease 0s;


        @include transition(box-shadow 0.2s ease-in-out 0.05s);

        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        appearance: none;
        -webkit-appearance: none;
    
    
        &:hover{
          color: $color;
          color: white;
          &:after {
            left: -30%;
            -webkit-transform: skew(-65deg);
            transform: skew(-65deg);
          }
        }
        &::after {
         background-color: mix(black, $color, 15%);
          content: "";
          display: block;
          position: absolute;
          width: 150%;
          height: 100%;
          top: 0;
          left: -160%;
          -webkit-transform: skew(0);
          transform: skew(0);
          -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          z-index: -1;
      }
      }

      &:disabled{
        background-color:gray!important;
        @include box-shadow(none);
        &:hover{
          background-color:gray!important;
          @include box-shadow(none);
        }
        &:after{
          background-color:gray!important;
        }
      }
      
    }
  }

  &:visited, &:focus-within, &:target, &:focus-visible{
    @include box-shadow(none)
  }
 
 
}

